body {
    padding-top: 20px;
    padding-bottom: 20px;    
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 80px;
    margin: 0px auto;
    background-color: transparent;
}

.card-block {
    padding-top: 0.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.05rem;
    padding-left: 1.25rem;
}

.buttonsnext {
    padding-bottom: 0.1rem;
}

