@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <div class="row row-header  align-items-center ">
        <div class="col-12 col-sm-3 ">
            <img src="~/Content/img/you logo here.png" class="img-fluid">
        </div>
        <div class="col-12 offset-1 col-sm-8">

            <h1>Birthdays calendar</h1>

            <div class="card card-block bg-faded">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        You don't get older, you get better.                        
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            Shirley Bassey                           
                        </cite>
                    </footer>
                </blockquote>

            </div>

        </div>
    </div>  


        



     
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>        
    </div>
    <div class="offset-md-4">
        <h2>Getting started</h2>
    </div>    
</div>