@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")


<header class="jumbotron">
    <div class="row">
        <div class="col-12 col-sm-3 "><img src="~/Img/logo.png" class="img-fluid"></div>

        <div class="col-12 col-sm-auto  ">
            <h2 class="display-3">Birthdays calendar</h2>
        </div>


    </div>
</header>


<div class="row">
    <div class="col-md-8 col-md-offset-2 ">

        <div class="panel panel-default calendar">

        </div>

    </div>
</div>





